@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hind Siliguri", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.sec-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sec-title .sec-title-img {
  width: 100px;
  height: auto;
}
.sec-title .sec-title-img .img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.sec-title .title {
  font-size: 30px;
  color: #0f172a !important;
  text-align: center;
}
.sec-title .title span {
  color: #6d28d9 !important;
}
.sec-title .subtitle {
  color: #334155 !important;
  font-size: 18px;
  font-weight: 500;
}

.container {
  max-width: 91%;
  margin: 0 auto;
  padding: 70px 40px;
}

@media screen and (max-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (max-width: 640px) {
  .container {
    max-width: 640px;
  }
}
.modules .container .modules-wrapper .modules-main-content {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 4%;
}
.modules .container .modules-wrapper .modules-main-content .modules-img {
  flex-basis: 46%;
  height: 100%;
  width: 100%;
}
.modules .container .modules-wrapper .modules-main-content .modules-img .img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.modules .container .modules-wrapper .modules-main-content .modules-content {
  flex-basis: 46%;
  overflow-y: scroll;
  overflow-x: scroll;
}
.modules .container .modules-wrapper .modules-main-content .modules-content::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.modules .container .modules-wrapper .modules-main-content .modules-content::-webkit-scrollbar-track {
  border-radius: 5px;
}
.modules .container .modules-wrapper .modules-main-content .modules-content::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 5px;
  height: 50px;
}
.modules .container .modules-wrapper .modules-main-content .modules-content::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}
.modules .container .modules-wrapper .modules-main-content .modules-content .modules-content-scroller {
  height: 350px;
  width: 100%;
}
.modules .container .modules-wrapper .modules-main-content .modules-content .modules-content-scroller .modules-content-item {
  gap: 30px;
  position: relative;
  padding-bottom: 20px;
}
.modules .container .modules-wrapper .modules-main-content .modules-content .modules-content-scroller .modules-content-item .module-item-number {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  border-radius: 100%;
  background: #7950f2;
  color: white;
}
.modules .container .modules-wrapper .modules-main-content .modules-content .modules-content-scroller .modules-content-item .module-item-number .nm {
  font-size: 18px;
}
.modules .container .modules-wrapper .modules-main-content .modules-content .modules-content-scroller .modules-content-item .module-item-content {
  margin-left: 35px;
}
.modules .container .modules-wrapper .modules-main-content .modules-content .modules-content-scroller .modules-content-item .module-item-content .item-title {
  font-size: 18px;
  color: #0f172a !important;
  font-weight: 500;
}
.modules .container .modules-wrapper .modules-main-content .modules-content .modules-content-scroller .modules-content-item .module-item-content .item-subtitle {
  font-size: 15px;
  color: #334155 !important;
}
.modules .container .modules-wrapper .modules-main-content .modules-content .modules-content-scroller .modules-content-item .module-item-content .item-content {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  gap: 10px;
  margin: 5px 0;
}
.modules .container .modules-wrapper .modules-main-content .modules-content .modules-content-scroller .modules-content-item .module-item-content .item-content .content {
  background: #fff;
  color: #6d28d9 !important;
  padding: 0 15px;
  border-radius: 15px;
  border: 1px solid #7950f2;
  height: 25px;
  white-space: nowrap;
}
.modules .container .modules-wrapper .modules-main-content .modules-content .modules-content-scroller .modules-content-item .module-item-content .item-ds {
  font-size: 15px;
  color: #334155 !important;
}
.modules .container .modules-wrapper .modules-main-content .modules-content .modules-content-scroller .modules-content-item::before {
  content: "";
  position: absolute;
  left: 12px;
  top: 8px;
  width: 2px;
  height: 100%;
  background: #7950f2;
  z-index: -1;
}
.modules .container .modules-wrapper .modules-main-content .modules-content .modules-content-scroller .modules-content-item:last-child::before {
  content: "";
  position: absolute;
  left: 12px;
  top: 8px;
  width: 3px;
  height: 100%;
  background: transparent;
  z-index: -1;
}